.checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    .title {
        width: 100%;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        padding: 0 0 1em 0;
    }
    .checkout-product {
        width: 90%;
        padding: 1em 0;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        column-gap: 2em;
        .price {
            text-align: center;
            font-size: 20px;
        }
        .checkout-info {
            display: flex;
            flex-direction: column;
            span {
                margin-bottom: 0.5em;
            }
            .name {
                font-size: 20px;
            }
            .quantity {
                color: $orange;
                font-weight: 500;
            }
            .remove {
                width: 120px;
                border: 1px solid $orange;
                background: none;
                color: $orange;
                padding: 1em;
                border-radius: 1.5em;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: $orange;
                    color: white;
                }
            }
        }
        .image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            overflow: hidden;
            border-radius: 1.5em;
            max-height: 70%;
            img {
                width: 100%;
                transition: 0.3s ease-in-out;
                transform: scale(1.2);
            }

            &:hover img {
                transform: scale(1.25);
            }
        }
        div {
            padding: 1em;
            width: 100%;
        }
    }
}
