.login {
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            i {
                font-size: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                background: $orange;
                width: 50px;
                height: 50px;
                margin: auto;
                padding: 0.3em;
                border-radius: 0.3em;
                margin-bottom: 0.5em;
            }
            font-size: 20px;
            font-weight: 500;
            span {
                font-weight: 600;
            }
        }

        .subtitle {
            font-size: 14px;
        }
    }
}
