.login {
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 25%;

        .title {
            i {
                font-size: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                background: $orange;
                width: 50px;
                height: 50px;
                margin: auto;
                padding: 0.3em;
                border-radius: 0.3em;
                margin-bottom: 0.5em;
            }
            font-size: 20px;
            font-weight: 600;
            span {
                font-weight: 700;
                font-style: italic;
            }
        }

        .subtitle {
            font-size: 14px;
            color: #333;
        }

        form {
            margin-top: 1em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .form-group {
                width: 100%;
                position: relative;
                input {
                    width: 100%;
                    max-width: calc(100% - 3em);
                    height: 3em;
                    padding-left: 3em;
                    border-radius: 0.5em;
                    border: 1px solid #333;
                }
                i {
                    position: absolute;
                    left: 0.5em;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    color: #333;
                }
            }
            .mb {
                margin-bottom: 1em;
            }
            .forgot {
                width: 100%;
                display: flex;
                justify-content: right;
                margin-top: 0.3em;
                font-weight: 600;
                color: #333;
                font-size: 14px;
            }
            button {
                width: 50%;
                border: none;
                background: $orange;
                cursor: pointer;
                padding: 0.5em 0;
                font-weight: 600;
                color: white;
                font-size: 15px;
                border-radius: 0.3em;
            }
        }
    }
}
