nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1.5em 0;
    background: white;
    z-index: 9999;

    .logo {
        i {
            font-size: 30px;
        }
    }
    .categories {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: capitalize;
        font-weight: 600;
    }

    .utils {
        align-items: center;
        display: flex;
        justify-content: center;

        i {
            font-size: 20px;
        }
        .user {
            margin-right: 1em;
            position: relative;
            .menu {
                display: none;
                position: absolute;
                bottom: -100%;
                transform: translateY(100%);
                left: 0;
                .option {
                    padding: 0.5em 1em;
                }
            }

            &:hover .menu {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    nav {
        & .categories,
        & .utils {
            display: none;
        }
    }
}
@media screen and (min-width: 800px) {
    nav {
        & .responsive {
            display: none;
        }
    }
}
