.arrivals {
    margin-top: 5em;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    .title {
        color: $orange;
        font-size: 30px;
        font-weight: 900;
        text-transform: lowercase;
        letter-spacing: 2px;
        span {
            color: $dark;
        }
    }
}
