.productInfo {
    width: 100%;
    .title {
        width: 100%;
        font-size: 2.5em;
        font-weight: 700;
        text-align: center;
        padding: 0 0 1em 0;
    }
    .productGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
        height: 100vh;
        .img {
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.5em;

            &:hover img {
                transform: scale(1.1);
            }
            img {
                transition: 0.3s ease-in-out;
                width: 100%;
            }
        }
        .info {
            width: 100%;
            .price {
                font-size: 30px;
                color: $orange;
                font-weight: 600;
            }
        }
        .actions {
            color: $orange;
            font-size: 20px;
            font-weight: 600;
            margin-top: 2em;
            span {
                margin-right: 0.8em;
                font-size: 30px;
                text-align: center;
            }
            button {
                border: 1px solid $orange;
                background: white;
                border-radius: 1em;
                padding: 0.5em;
                font-size: 20px;
                color: $orange;
                cursor: pointer;
                margin-right: 1em;
                &:active {
                    background: $orange;

                    i {
                        color: white;
                    }
                }
                i {
                    color: $orange;
                    font-size: 20px;
                }
            }
        }
    }
}
