@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;900&display=swap');

@import './partials/vars';
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    margin-top: 2em;
    padding: 0 2em;
    min-height: 70vh;
}
// Navbar
@import './partials/navbar';

// Mainpage
@import './partials/mainPage';

// Login
@import './partials/login';

// Product info
@import './partials/productInfo';

// Checkout
@import './partials/checkout';

// Footer
@import './partials/footer';
